.header{
    position: fixed;
    left: 0px;
    right: 0px;
    height: 70px;
    z-index: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
