/* .ions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
   justify-content: center;
} */
.header-left{
    display: flex;
    align-items: center;
    height: 70px;
    width: 250px;
    margin-left: 20px;
    margin-right: 60px;
    vertical-align: middle;
}
.ion-youtube{
    height: 50px;
    width: 100px;
    margin-left: 10px;
}
.ion-hamburger{
    height: 25px;
    width: 40px;
}
.header-center{
    background-color: aqua;
    display: flex;
    align-items: center;
    height: 70px;
    flex: 1;
    vertical-align: middle;
}
.search-box{
    display: block;
    height: 40px;
}
.ion-search{
    height: 35px;
    width: 100%;
}
.ion-voice-search{
    height: 25px;
    width: 30px;
    background-color:#f2f2f2;
    border-radius:15px ;
}
.header-right{
    display: flex;
    align-items: center;
    height: 70px;
    width: 200px;
    vertical-align: middle; 
    margin-left: 40px;
    gap: 10px;
}
.ioc-upload{
    height: 25px;
    width: 100%;
}
.ioc-youtube-apps{
    height: 25px;
    width: 100%;
}
.ioc-notifications{
    height: 25px;
    width: 100%;
}
.profile-img{
    height: 35px;
    width: 36px;
    border-radius: 18px;
    object-fit: cover;
    object-position: center;

}

