.header-left{
    display: flex;
    align-items: center;
    height: 70px;
    width: 250px;
    margin-left: 8px;
    vertical-align: middle;
    margin-right: 170px;
} 
.ion-youtube{
    height: 50px;
    width: 90px;
    margin-left: 10px;
    cursor: pointer;
}
.ion-hamburger{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    cursor: pointer;
    padding: 8px;
    transition: 0.15s;
}
.ion-hamburger:hover{
    background-color:  rgb(236, 232, 232);
}
.header-center{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 10px;
}
.search-box{
    color: rgba(246, 246, 246, 0.132);
    font-size: medium;
    height: 40px;
    border-radius: 20px;
    width: 100%;
    padding-left: 15px;
    border: 1px solid rgb(218, 213, 213);
}
.ion-search{
    height: 40px;
    width: 80px;
    margin-left: -40px; 
    padding-top: 5px;
    padding-bottom: 5px; 
    border: 1px solid rgb(218, 213, 213); 
    background-color:#f8f9f8fd;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    transition: 0.15s;
} 
.ion-search:hover{ 
    background-color:  rgb(236, 232, 232);
}
.ion-voice-search{
    height: 40px;
    width: 40px;
    padding: 8px;
    background-color:#f8f9f8fd;
    border-radius:20px ;
    cursor: pointer;
    transition: 0.15s;
}
.ion-voice-search:hover{
    background-color: rgb(227, 224, 224);
}
.header-right{
    display: flex;
    align-items: center;
    height: 70px;
    width: 200px;
    vertical-align: middle; 
    margin-left: 190px;
    margin-right: 20px;
    justify-content: space-between;
    padding-left: 50px;
}
.ioc-upload{
    height: 25px;
    cursor: pointer;
}
.ioc-youtube-apps{
    height: 25px;
    cursor: pointer;
}
.ioc-notifications{
    height: 25px;
    cursor: pointer;
}
.profile-img{
    height: 36px;
    width: 36px;
    border-radius: 18px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}