.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 90px;
    padding-top: 5px;
    margin-bottom: 0px;
}
.card{
    display: flex;
    background-color: blueviolet;
    height: 280px;
    width: 350px;
    margin-top: 80px;

}