.main{
    display: flex;
    position: relative;
    top: 80px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
 .aside{
    background-color: rgb(0, 255, 81);
    position: fixed;
    top: 80px;
    width: 90px;
    height: 100vh;
    left: 0;
}
.container{
    display: flex;
    padding-left: 105px;
    padding-top: 12px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.card{
    display: flex;
    height: 380px;
    width: 335px;
    background-color: aqua;
}


